.Line{
width:150px;
  height: 5px;
   background-color: #2c3e50;
}
.PortfolioText{
  color: #2c3e50;
    text-transform: uppercase;
     font-weight: bolder;
     font-size: 48px;
      font-family: "Montserrat", sans-serif;
}