.Footer{
    background-color:  #2c3e50;
}
.round{
    width:50px;
    height: 50px;
    border-radius: 50%;
    border:1px solid white;
    text-align: center;
}
.round svg{
    text-align: center;
   width:30px;
    height: 30px;
    padding: 5px;
    border-radius: 50%; 
}
.aqua{
    color:#1abc9c;
}